.loginRow {
  height: 100%;
  margin-top: 40px;
  .loginForm {
    padding: 16px 8px;
    background: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
}
.row {
  height: 60px;

}
.word{
  font-weight: bold;
}
.bt{
  height: 35px;
  width: 42%;
  font-weight: bold;
  font-size: 16px;
  margin-right: 13px;
}
.input{
  height: 35px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.top{
  background-color: #397abe;
  width: 100%;
  text-align: left;
  float: left;
  height:  360px;
  //background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.logo {
  height: 120px;
  //width: 1370px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 130px;
}
.mian {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  float:left;
}
.middle {
  //background-image: url(/img/bg_1.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 220px;
  width: 420px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.login_1 {
  height: 220px;
  width: 420px;

}
.login_2 {
  height: 65px;
  width: 420px;

}
.bottom{
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  height: 60px;
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
  color:#000000;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0 !important;
  margin-top: 20px;
  background: #397abe;
  padding: 8px;
  text-align: center;
  color:#fff;
  z-index: 999;
}
.foot a{
  color:#ff9900;
}

a.downloadLink {
  color: #fff;
}

a.downloadLink:hover {
  color: #ff9900;
}