<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <meta name="renderer" content="webkit">
	  <title>CANMUSIC</title>
  </head>
  <body>
  <div id="root">
    <div style = "width:100%; position: absolute;  text-align:center; top: 42%; font-size: 14px; font-weight: 200;  color: #999;" >
      <div style="height: 50px; "></div>
      <div>系统加载中...</div>
    </div>
  </div>
  </body>
</html>
